{% extends 'base.html' %}
{% block titulo %}Quem Somos{% endblock %}
{% block conteudo %}
    <h2>Quem somos</h2>
    <p>Lorem <strong>ipsum dolor</strong> sit <em>amet</em> consectetur adipisicing elit. Natus consequatur accusamus repudiandae unde corrupti quaerat sed iste ea impedit porro iure reprehenderit quis, fugit itaque atque molestiae deleniti repellat quia! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam neque ipsa, exercitationem veritatis quod perferendis rerum, libero eveniet deleniti in, accusamus a suscipit consequuntur beatae consequatur quis repellendus natus aspernatur.</p>
    <h2>5 motivos para estudar</h2>
    <ol type="1" class="motivos">
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol> 
    <hr>
    <h2>Objetivos</h2>
    <p>Lorem <strong>ipsum dolor</strong> sit <em>amet</em> consectetur, adipisicing elit. Necessitatibus, harum quam numquam sequi veniam, vitae dicta quia aut, similique cumque voluptatibus natus nobis fuga omnis rerum fugiat sint est illum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, rerum ad explicabo tempora soluta iste esse nulla eum quas atque molestias illo harum eius neque quo nam commodi dolorem quaerat.</p>
    <br><br>
{% endblock %}