{% extends 'base.html' %}
{% block titulo %}Contato{% endblock %}
{% block conteudo %}
    <h2>Entre em contato</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur reprehenderit, iusto provident aperiam rem laboriosam harum repellat corporis maiores, porro perferendis tempore! Nostrum itaque accusamus fuga quam iure explicabo.</p>
    <br>
    <hr>
    <form method="post" action="/contato">
        <p>Seu e-mail:</p>
        <input type="email" name="email" required>
        <p>Assunto:</p>
        <input type="text" name="subject" required>
        <p>Descrição:</p>
        <textarea name="description" id="" cols="30" rows="5" required></textarea>
        <br>
        <input type="submit" title="Enviar" >
    </form>  
    <br><br>
{% endblock %}