<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio 3</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body background="../static/img/fundo2.png">
    <header class="header">
        <img src="../static/img/logo.png" alt="Logo da home">
        <nav>
            <ul class="menu">
                <li><a href="home">Home</a></li>
                <li><a href="quem-somos">Quem somos</a></li>
                <li><a href="contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    <h2>Entre em contato</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur reprehenderit, iusto provident aperiam rem laboriosam harum repellat corporis maiores, porro perferendis tempore! Nostrum itaque accusamus fuga quam iure explicabo.</p>
    <br>
    <hr>
    <form method="post" action="/contato">
        <p>Seu e-mail:</p>
        <input type="email" name="email" required>
        <p>Assunto:</p>
        <input type="text" name="subject" required>
        <p>Descrição:</p>
        <textarea name="description" id="" cols="30" rows="5" required></textarea>
        <br>
        <input type="submit" title="Enviar" >
    </form>    
    <br><br>
    <p class="direito"><b>Todos os direitos reservados</b></p>
</body>    
</html>